<div class="container-fluid">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 col-sm-offset-2 col-sm-8 col-sm-offset-2">
      <%= form_for(@myp) do |f| %>
        物件を利用する日：<%= f.date_field :data %><br><br>
        利用開始時間：<%= f.time_field :starttime %>～
        利用終了時間：<%= f.time_field :endtime %><br>
        <%= f.submit '登録', class: 'btn btn-primary btn-sm' %> &nbsp;&nbsp;
      <% end %>
      <br><br>
      <h4>本物件ですでに予約されている日時一覧</h4>
      <% @myps.each do |hoge| %>
        <table class="table table-striped">
          <% if @myp.applyid == hoge.applyid && hoge.permission == 2 %>
            <tr>
              <% unless hoge.data == nil %>
                <% unless hoge.starttime == nil %>
                  <% unless hoge.endtime == nil %>
                    <th><h4><%= hoge.uname %> さん：</h4><h4><font color = "blue"><%= hoge.data.year %>年<%= hoge.data.month %>月<%= hoge.data.day %>日
                    <%= hoge.starttime.hour %>時<%= hoge.starttime.min %>分～<%= hoge.endtime.hour %>時<%= hoge.endtime.min %>分</font></h4></th>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>
