<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 col-sm-offset-2 col-sm-8 col-sm-offset-2">
      <br><br><br>
        <h1><%= @myp.uname %>様のマイページ</h1><br>
        <% if @myp.applyid.present? %>
        <table class="table">
          <left><h4>現在応募している物件</h4></left>
          <tr><th>物件番号</th><th>業態</th><th>レンタル料（円/1時間)</th><th>物件住所</th></tr>
          <tr><th><%= @myp.applyid %></th><th><%= Inst.find_by(id:@myp.applyid).style %></th><th><%= Inst.find_by(id:@myp.applyid).cost %></th><th><%= Inst.find_by(id:@myp.applyid).address %></th>
              <th><%= link_to "物件の詳細", inst_path(id:@myp.applyid), class: 'btn btn-primary btn-sm' %></th>
              <th><%= link_to "キャンセル", cancel_store_myp_path(id:@myp.mypid), class: 'btn btn-danger btn-sm' %></th>
          </tr>
        </table>
        <% else %>
          <h2>応募している物件はありません</h2>
        <% end %>
    </div>
  </div>
</div>
