<section class="function container-fluid">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 col-sm-offset-2 col-sm-8 col-sm-offset-2">
      <%= form_for(@myp) do |f| %>
      <center><%= f.file_field :avatar %></center>
        <%= f.hidden_field :avatar_cache %>
        <br>
        <%= f.submit '顔写真の登録', class: 'btn btn-primary btn-sm' %>
      <% end %>
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to "マイページへ戻る", myps_path, class: 'btn btn-primary btn-sm' %>
          <%= link_to "登録情報の編集", edit_myp_path(@myp.id), class: 'btn btn-primary btn-sm' %>
          ユーザID:<%= @myp.mypid%>
          <h3><%= @myp.uname %> 様の登録情報 &nbsp; &nbsp; <%= image_tag @myp.avatar_url %></h3>
        </div>
        <div class="panel-body">
          <h4>住所：<%= @myp.uaddress %></h4><br>
          <h4>銀行口座：<%= @myp.ubankaccount %></h4><br>
          <h4>メールアドレス：<%= @myp.uemail %></h4><br>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</section>
