<body>
  <div id="howtogamen">
    <section class="function container-fluid">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-10col-sm-offset-1">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="<%= asset_path "howto1.jpg" %>" alt="">
                <div class="carousel-caption">
                  <font color="black"><h3>まずはマイページから個人情報を登録してください、登録後にすべての機能が使えます</h3></font>
                </div>
              </div>
            <div class="item">
              <img src="<%= asset_path "howto2.jpg" %>" alt="">
              <div class="carousel-caption">
                <font color="black"><h3>登録後に不動産の一覧から貸したい物件を登録したり、借りたい物件を閲覧したりできます、迷ったら検索をクリック</h3></font>
              </div>
            </div>
            <div class="item">
              <img src="<%= asset_path "howto3.jpg" %>" alt="">
              <div class="carousel-caption">
                <font color="black"><h3>自分にあう物件を見つけて物件に応募できます、またオーナ様にコメント欄で物件についての質問することも可能です</h3></font>
              </div>
            </div>
            <div class="item">
              <img src="<%= asset_path "howto4.jpg" %>" alt="">
              <div class="carousel-caption">
                <font color="black"><h3>応募後に物件を使用したい日時を入力、日時をきちんと入力しないと物件のオーナ様から許可がおりません</h3></font>
              </div>
            </div>
            <div class="item">
              <img src="<%= asset_path "howto5.jpg" %>" alt="">
              <div class="carousel-caption">
                <font color="black"><h3>オーナ様は物件の使用許可をしたいユーザ様の情報を閲覧できます、信用がおけるユーザ様にのみ許可を与えることも可能です</h3></font>
              </div>
            </div>
            <div class="item">
              <img src="<%= asset_path "howto6.jpg" %>" alt="">
              <div class="carousel-caption">
                <font color="black"><h3>エラーなどは画面に表示されるので使いやすいアプリになっております</h3></font>
              </div>
            </div>
          </div>
        <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
