<h1>店舗またはスペース情報変更欄</h1>

<section class="function container-fluid">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6 col-sm-offset-3">
        <%= form_for(@inst) do |f| %>
          <h3> 店舗またはスペースの住所 </h3>
          <%= f.text_field :address, class: 'form-control' %>
          <br>
          <h3> 店舗またはスペース情報</h3>
          <%= f.text_area :info,  :size=>"90x10" %>
          <br>
          <h3> 店舗またはスペースの画像</h3>
          <center><%= f.file_field :image %></center>
          <%= f.hidden_field :image_cache %>

          <br>
          <h3>１時間当りのレンタル料（円、半角数字のみ。例：1500</h3>
          <%= f.text_area :cost, :size=>"10x1" %>
          <br>
          <center><div><%= f.submit '登録', class: 'btn btn-primary btn-block' %></div></center>
        <% end %>
      </div>
    </div>
  </section>
