<div class="container-fluid">
    <%= link_to "貸したい物件を登録する",  new_inst_path,  class: 'btn btn-primary btn-lg'%>
    <%= link_to "借りたい物件を検索する",  find_insts_path, class: 'btn btn-primary btn-lg'%>
    <br><br>

    <table class="table table-striped">
      <tr>
        <th>物件番号</th><th>業態</th><th>レンタル料（円/1時間)</th><th>物件住所</th>
      </tr>
      <% @insts.each do |inst| %>
        <tr><th><%=inst.id %></th><th><%= inst.style %></th><th><%= inst.cost %></th><th><%= inst.address %></th>
          <th><%= link_to "物件の詳細", inst_path(inst), class: 'btn btn-primary btn-sm' %></th>
        </tr>
      <% end %>
    </table>
    <%= paginate @insts %>
</div>
