<div class="container">
    <%= link_to "貸したい物件を登録する",  new_inst_path,  class: 'btn btn-primary btn-lg'%>
    <br><br>
    <div id= searchform>
      <%= search_form_for @q do |f| %>
          <%= f.label :業態 %>
          <%= f.search_field :style %>

          <%= f.label :住所 %>
          <%= f.search_field :address %>

          <%= f.submit %>
        <% end %>
    </div>
        <br><br>
  <table class="table">
    <tr><th>物件番号</th><th>業態<%= sort_link(@q, :style) %></th><th>レンタル料（円/1時間)<%= sort_link(@q, :cost) %></th><th>物件住所<%= sort_link(@q, :address) %></th>
    </tr>
      <% @insts.each do |inst| %>
      <tr><th><%=inst.id %></th><th><%= inst.style %></th><th><%= inst.cost %></th><th><%= inst.address %></th>
        <th><%= link_to "物件の詳細", inst_path(inst), class: 'btn btn-primary btn-sm' %></th>
          <% if current_user == inst.user %>
            <th><%= link_to "編集する", edit_inst_path(inst.id), class: 'btn btn-info btn-sm' %></th>
            <th><%= link_to '削除する', inst_path(inst.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-danger btn-sm' %></th>
          <% end %>
      </tr>
      <% end %>
  </table>
</div>
