<!DOCTYPE html>
<html>
<head>
  <title>レンタップ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav class="navbar navbar-inverse">
    <div class ="container-fluid">
      <!-- <div class="navbar-header">
        <a href="localhost:3000" class="navbar-brand">レンタップ</a>
      </div>

      -->
      <% if user_signed_in? %>
        <ul class ="nav navbar-nav">
          <li><%= link_to 'レンタップ', root_path, :style=>"color:white;" %></li>
          <li><%= link_to 'マイページ', myps_path, :style=>"color:white;" %></li>
          <li><%= link_to '個人情報変更', myp_path(id:current_user.id), :style=>"color:white;" %></li>
          <li><%= link_to '物件一覧', insts_path, :style=>"color:white;" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, :style=>"color:white;" %></li>
        </ul>
      <% else %>
        <ul class ="nav navbar-nav">
          <li><%= link_to 'ログイン', new_user_session_path, :style=>"color:white;" %></li>
          <li><%= link_to 'サインアップ', new_user_registration_path, :style=>"color:white;" %></li>
        </ul>
      <% end %>
      </div>
    </nav>
</header>

<%= yield %>

</body>
</html>
